* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

body {
    background-image: radial-gradient(#fff, #e8f3fb);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px
}

nav {
    flex: 1;
    text-align: right;
    text-transform: uppercase;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 40%;
    min-width: 250px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: rgba(20, 136, 219, 255);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.btn:hover {
    background: #563434;
    transition: background 0.5s;
}

.header {
    background: radial-gradient(#fff, rgba(20, 136, 219, 255));
}

.header .row {
    margin-top: 70px;
}

.col-3 {
    flex-basis: 30%;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1380px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background: white;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    box-shadow: var(--box-shadow);
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}

.title::after {
    content: '';
    background: rgba(20, 136, 219, 255);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: black;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: rgba(20, 136, 219, 255);
}

.col-4:hover {
    transform: translateY(-5px);
}

.offer {
    margin-top: 20px;
    background: radial-gradient(#fff, #ffd6d6);
    padding: 30px 0;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.col-5 {
    width: 180px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

ul {
    list-style-type: none;
}

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid rgba(20, 136, 219, 255);
    padding: 5px;
}

select:focus {
    outline: none;
}

.single-product {
    margin-top: 80px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    padding: 10px;
    margin-top: 20px;
    width: 45%;
    height: 50px;
}

.single-product input {
    width: 45%;
    height: 50px;
    padding-left: 10px;
    font-weight: 20%;
    margin-right: 10%;
    border: 1px solid rgba(20, 136, 219, 255);
}

input:focus {
    outline: none;
}

.single-product .fa {
    color: rgba(20, 136, 219, 255);
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.fa-solid {
    color: rgb(236, 233, 60);
}

#product-img {
    border: 1px solid #555;
    border-radius: 10px;
}

.price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    color: rgba(20, 136, 219, 255);
    background: #fff;
    font-size: 50px;
    border-radius: 20px;
    border: 1px solid rgba(20, 136, 219, 255);
}

.endow {
    border-radius: 10px;
    border: 1px solid #b7b7b7;
    margin-bottom: 10px;
}

.endow h3 {
    display: flex;
    font-size: 30px;
    color: #d90000;
    text-align: center;
    padding: 5px 15px;
    text-transform: capitalize;
    margin-bottom: 0px;
    background: #ffe45f;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: center;
    align-items: center;
}

.fa-gift {
    padding-right: 20px;
    color: #d90000;
}

.fa-mobile-notch {
    padding-right: 20px;
    color: #d90000;
}

.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.comment {
    display: block;
    overflow: hidden;
    width: 100%;
}

.col-99 {
    flex-basis: 20%;
    margin-bottom: 30px;
    background: #563434;
}

.location {
    padding: 45px 0px 0px 10px;
    border-radius: 10px;
    border: 1px solid #b7b7b7;
    position: relative;
    margin-bottom: 10px;
}

.location h3 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    top: 0;
    left: 0;
    position: absolute;
    padding: 10px;
    margin-left: -1px;
    background: #0d95ca;
    margin-right: -1px;
    border: 1px solid #007eaf;
    color: #fff;
    width: calc(100% + 2px);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.location .text-widget {
    max-height: 200px;
    overflow: auto;
    margin-bottom: 5px;
}

.location .text-widget ul {
    margin-bottom: 0px;
}

.location ul li {
    margin-bottom: 7px;
    line-height: 1.6;
    font-size: 13px;
    position: relative;
    padding-left: 17px;
}

.fa-location-dot {
    color: white;
    padding-right: 10px;
}

.fa-heart {
    color: white;
    padding-right: 10px;
}

.phone-number {
    position: relative;
    z-index: 1;
}

.register-phone {
    background: #dd0000;
    padding: 10px 5px 20px;
    border-radius: 10px;
}

.register-phone .register-phone-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.register-phone-number h3 {
    color: white;
}

#phonenum {
    padding-right: 50px;
}

.select-type {
    display: inline-block;
    margin: auto;
}

.add-to-cart {
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    padding: 7px 0;
    background: #dd0000;
    color: #fff;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    /* -ms-transition: all 0.25s linear; */
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    float: left;
}

.add-to-cart>span {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}

.add-to-cart span.subcart {
    width: 100%;
    font-size: 11px;
    display: block;
    font-weight: 400;
    margin-top: 4px;
    text-transform: capitalize;
    opacity: 0.8;
}

.btngop {
    width: 49%;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    padding: 7px 0;
    background: #dd0000;
    color: #fff;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    /* -ms-transition: all 0.25s linear; */
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    margin-left: 0;
    background: #007eaf;
    width: 49%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.btngop>span {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}

.btngop span.subcart {
    width: 100%;
    font-size: 11px;
    display: block;
    font-weight: 400;
    margin-top: 4px;
    text-transform: capitalize;
    opacity: 0.8;
}

input[type="tel"],
input[type="text"],
textarea {
    -webkit-appearance: none;
}

.register-phone-body input {
    padding-right: 10px;
    width: 80%;
}

.register-phone-body button {
    position: absolute;
    right: 0;
    background: #ffe45f;
    top: 0;
    height: 50px;
    width: 50px;
    display: block;
    color: #dd0000;
    font-weight: 700;
}

.form-control {
    display: block;
    width: 100%;
    /* padding: 0.375rem 0.75rem; */
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button,
input {
    overflow: visible;
    margin: 0;
}

.shop-contact {
    background: #ffe45f;
    padding: 20px 5px 10px 25px;
    z-index: -1;
    border-radius: 10px;
}

.shop-contact ul {
    padding-left: 0;
}

.situation-title {
    font-weight: 600;
    float: left;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
    background: #007eaf;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: calc(100% + 2px);
    margin: -1px -1px 0 -1px;
}

.situation-content {
    padding: 0 10px 5px;
    max-height: 150px;
    overflow: auto;
    position: relative;
    line-height: 1.4;
    border: 1px solid #b7b7b7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -1px;
    margin-right: -1px;
}

h3 {
    font-size: 18px;
}

.situation {
    width: 80%;
    align-items: center;
    text-align: center;
    margin-left: 10%;
}

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonial-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading h1 {
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}

.testimonial-heading span {
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 0.8rem;
}

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color: #4b4b4b;
}

.testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media(max-width:1060px) {
    .testimonial-box {
        width: 45%;
        padding: 10px;
    }
}

@media(max-width:790px) {
    .testimonial-box {
        width: 100%;
    }
    .testimonial-heading h1 {
        font-size: 1.4rem;
    }
}

@media(max-width:340px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews {
        margin-top: 10px;
    }
}

::selection {
    color: #ffffff;
    background-color: #252525;
}

@media only screen and (max-width: 639px) {
    .single-product {
        flex-direction: column;
    }
    .small-container h4 {
        color: blue;
    }
    .col-3 {
        flex-basis: 100%;
    }
    .location,
    .phone-number,
    .shop-contact {
        display: none;
    }
    .endow {
        height: 250px;
        overflow: auto;
    }
    .situation {
        display: none;
    }
    .col-2 {
        flex-basis: 100%;
    }
}

@media only screen and (min-width: 46.25em) and (max-width: 859px) {
    .single-product {
        flex-direction: column;
    }
    .small-container h4 {
        color: red;
    }
    .col-3 {
        flex-basis: 49%;
    }
    .location,
    .phone-number,
    .shop-contact {
        display: none;
    }
    .endow {
        height: 250px;
        overflow: auto;
    }
}